<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlanIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F944DF031DC920AC00F59D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F944DF1A1DC920AD00F59D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F944DF251DC920AD00F59D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
